<div class="container">
  <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Time is Precious! Now, Current time is: </a>
    </div>
  </nav>
    <div class="container">
      <div class="card paading-styles">
        <div class="card-title">
          <!-- Now, the time is: -->
        </div>
        <div class="card-body">
          <span class="border-time">{{hours}}</span> 
          <span class="colon-styling">:</span>
          <span class="border-time">{{minutes}}</span>
          <span class="colon-styling">:</span>
          <span class="border-time">{{seconds}}</span> 
          <span class="colon-styling">{{ampm}}</span>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Time and tide waits for no man!</a>
      </div>
    </nav>
</div>
